*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
_minted-*

# specific build files
*.bcf
*.fdb_latexmk
*.fls
*.run.xml
*.wcdetail